@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');
:root{

    font-size: 62.5%;
}
*{
    padding: 0;
    transition: 1s;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}
body{
    background-color: rgba(202, 193, 193, 0.648);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    color: white;
    letter-spacing: .4rem;
    font-weight: 700;
    
}
form{
   position: relative;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-bottom: 5rem;
}
#input-text{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-size: 3rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39) ;
}
#input-text::placeholder{
    font-size: 1.5rem;
}
.input-buton{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem;
}
.card{
    background-color: rgb(255, 255, 255);
    padding: 5rem;
    border-radius: 2rem;
    max-width: 50rem;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding-block: 2rem;
    background-color: #C0B3BC;
    font-size: 3rem;
}
.bandeira.hiden , .icons.hiden {
    display: none;
}
p{
    font-size: 2.5rem;
}
.txt{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.icon{
    width: 10rem;
    height: 10rem;
}
.ok{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.alin{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
}
.icon,.bandeira{
    display: none;
}
.card.active .icon{
    display: block;
}
.card.active .bandeira{
    display: block;
}
.icon.hiden{
    display: none;
}
.a{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    gap: 12rem;
   

}
.sl{
    display: flex;
    gap: 7rem;
    align-items: center;
   
}
header.erro{
    background-color: red;
}
.erro1{
width: 40%;
}
.erro2{
    width: 40%;
}
.erro1{
    font-size: 10rem;
    
}
.txt.active{
    display: none;
}
@media screen and (max-width:430px){
    .card{
        width: 100%;
      
    }
    form{
        flex-direction: column;
        margin-bottom: 0rem;
    }
    .erro1{
        font-size: 5rem;
    }
    .erro2{
        font-size: 2rem;
    }
}